body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 100px auto;
    padding: 40px;
    background: white;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
